<div style="padding:8px 12px 6px 44px;" >
  <form ng-submit="replysubmit(answer)">
    <!-- <div style="border-left:2px solid rgb(88, 144, 255); padding-left:5px;"  class="cleafix" ng-repeat="(index1,object) in replybox"> -->
  <div style="border-left:2px solid rgb(88, 144, 255); padding-left:5px;"  class="cleafix">
  <div>
      <div ng-repeat="reply in answer.replies">
        <img src="../images/cover.jpg" class="img-reponsive pull-left"
        style=" width: 20px; height: 20px;border: 1px solid rgba(0, 0, 0, .1);bottom: 0;content: '';left: 0;right: 0;top: 0; margin-left:2px;"
        alt="Responsive image"></img>
        <div class="" style="overflow:auto; padding:5px;" spacing="small">
          <a href="#"><span><b>{{reply.user.name}}</b></span></a>
          {{reply.text}}
          <!-- {{ rep.text}} -->
            <!-- <p ng-if="object.helpful == 1"><span class="glyphicon glyphicon-heart" style="color:rgb(88, 144, 255);">{{object.helpful }}</span> </p> -->
        </div>
        <div class="">
          <ul class="nav nav-pills"reply-links></ul>
          {{reply.no_helpful}}
        </div>
      </div>
    </div>

    <!-- <div class="clearfix" ng-if="object.replyone"> -->
<div class="clearfix">
      <div>
        <img src="../images/cover.jpg" class="img-reponsive pull-left"
        style=" width: 22px; height: 22px;border: 1px solid rgba(0, 0, 0, .1);bottom: 0;content: '';left: 0;right: 0;top: 0;margin-left:2px;"
        alt="Responsive image"></img>
      </div>
      <div>
        <input type="textarea" tabindex="0"
        style="overflow: auto;  outline:none; max-height: 350px; font-size :15px; height:22px; margin-top:1px;" class ="col-sm-11 col-md-11 col-lg-11" ng-model="reply.text"
        name="reply.text" placeholder="Write a Reply" />
      </div>
    </div>
</div>
<!-- </div> -->
  </form>
</div>
