<ul class="nav nav-pills">
    <li >
      <a href ng-click="increaseHelpful(object)" class="glyphicon ">Helpful</a>
    </li>
    <li >
      <a href ng-click="increaseReply(object)" class="glyphicon" >Reply</a>
    </li>
</ul>

<!--
<ul class="nav nav-pills" style=" margin-top:-5px;">
  <li ng-class="{comment:subLike === 3 }" >
    <a href ng-click="selectSubLike(3) " style="color:#2196f3;" ><span class="glyphicon glyphicon-heart" style="font-size:15px;">&nbsp<b>Helpful</b></span></a>
  </li>
  <li ng-class= "{comment:subTab === 4}">
    <a href ng-click="selectSubTab(4)" style="color:#2196f3;" ><span class="glyphicon glyphicon-comment" style="font-size:15px;">&nbsp<b>reply</b></span></a>
  </li>
</ul> -->
